@import "../../styles/variables";
@import "../../styles/mixin";

.signUpModal {
  width: 100%;
  height: 100%;
}
.signUpModalBox {
  position: absolute;
  z-index: 9999;
  top: 0;
  left: -25%;
  width: 600px;
  height: 600px;
  padding: 20px;
  @include flex(flex, column, center, space-evenly);
  border-top-width: 500px;
  background-color: $main-grey;
  color: $main-white;

  & > h2 {
    padding-bottom: 20px;
    border-bottom: 2px solid $main-white;
  }

  .messageSubTitle {
    margin-bottom: 10%;
  }

  .messageBox {
    @include flex(flex, column, center, _);
  }

  .messageBox:last-child {
    padding: 40px;
    @include flex(flex, column, center, _);
<<<<<<< HEAD
    background-color: $main-grey;
=======
    color: $main-white;
>>>>>>> master
  }
  .border {
    width: 100px;
    height: 5px;
    background-color: $main-white;
  }
}
