div {
  .artistOfMay {
    width: 504px;
    font-size: 37px;
    font-weight: 600;
  }

  .haechan {
    width: 188px;
    font-size: 21px;
    font-weight: 400;
  }
}

img {
  width: 100%;
  height: 398px;
}
