.cart {
  //box-sizing: 0px;
}
.cartBox {
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 40px 40px;
  background-color: #252525;
}

.cartLeft {
  position: relative;
  width: 100%;
}

.cartList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px;
  padding-bottom: 20px;

  .cartTitle {
    color: #f2f2f2;
    font-size: 16px;
    font-weight: 400;
  }

  .cartSize {
    color: #f2f2f2;
    font-size: 16px;
    font-weight: 400;
  }

  .cartQuantity {
    color: #f2f2f2;
    font-size: 16px;
    font-weight: 400;
  }

  .cartPrice {
    color: #f2f2f2;
    font-size: 16px;
    font-weight: 400;
  }
}

.cartItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  overflow-y: hidden;
  border-bottom: 0.3px solid #fffef2;

  .itemName {
    color: #fffef2;
    font-size: 16px;
    font-weight: 400;
  }

  .itemSize {
    color: #fffef2;
    font-size: 16px;
  }

  .itemQuantity {
    color: #fffef2;
    font-size: 14px;
  }

  .itemPrice {
    color: #fffef2;
    font-size: 14px;
  }

  .deleteButton {
    width: 10px;
    height: 10px;
    background-image: url("../../assets/delete.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.cartSumBox {
  position: relative;
  padding: 30px;
}

.cartSummary {
  right: 30px;
  bottom: 30px;
  width: 100%;
  margin-top: 20px;
  font-size: 14px;
  //z-index: 10;

  .cartFree {
    color: #fffef2;
    font-weight: 400;
  }

  .totalPrice {
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding-top: 20px;

    .vat {
      color: #fffef2;
      font-size: 18px;
      font-weight: 400;
    }

    .sum {
      color: #fffef2;
      font-size: 25px;
      font-weight: 400;
    }
  }

  .payBtn {
    display: flex;
    justify-content: end;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
  }
}

.cartRight {
  display: flex;
  justify-content: center;
  width: 40%;
  padding-top: 80px;
  background-color: #252525;

  .cartForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 380px;
    height: 500px;
    background-color: #fffef2;

    .profileBox {
      display: flex;
      position: relative;
      align-items: center;
      margin-top: -180px;
      margin-bottom: 60px;
      margin-left: 36px;

      .profileImg {
        position: absolute;
        width: 60px;
        height: 60px;
        margin-top: -80px;
        border-radius: 50%;
        background-color: #e0e0e0;
      }

      .profileText {
        position: absolute;
        margin-top: -80px;
        margin-left: 68px;
        font-size: 16px;
        font-weight: 400;
      }
    }

    .submitButton {
      display: flex;
      position: absolute;
      justify-content: center;
      margin-top: -120px;
      margin-left: 40px;
    }

    .line {
      position: absolute;
      width: 300px;
      margin-left: 40px;
      border-bottom: 0.5px solid #252525;
    }
  }

  .cartForm2 {
    display: flex;
    justify-content: center;

    .formContent {
      position: absolute;
      width: 300px;
      margin-top: 100px;
    }

    .rgb {
      margin-bottom: 20px;
      font-size: 16px;
      font-weight: 600;
    }

    .formText {
      color: #252525;
      font-size: 14px;
    }

    .formText1 {
      margin-bottom: 6px;
      margin-left: 10px;
    }
    .formText2 {
      margin-bottom: 6px;
      margin-left: 10px;
    }
    .formText3 {
      margin-bottom: 6px;
      margin-left: 10px;
    }
    .formText4 {
      margin-bottom: 6px;
      margin-left: 10px;
    }
  }
}
