div.leftFilter {
  padding: 0 25px 30px 25px;
  font-size: 17px;

  label {
    padding-right: 10px;
  }

  .filterContent {
    .priceAndButton {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 138px;
      padding: 30px 0 15px 0;

      span {
        padding-right: 15px;
      }

      button {
        height: 18px;
      }
    }

    .contentButton {
      padding-bottom: 10px;
    }
  }

  .filters {
    .submit {
      border: 1px solid black;
    }
  }
}
