div.leftFilter {
  div.show {
    padding: 30px 25px;
  }

  p {
    padding: 0 0 22px 30px;

    button {
      border: 1px solid black;
    }
  }

  .bottomLeft {
    width: 20%;
    padding-top: 100px;
    background-color: cadetblue;
    font-size: 17px;
  }
}
