@import "../../styles/variables";

.bigButton {
  width: 400px;
  height: 45px;
  font-size: 16px;
}

.mediumButton {
  width: 300px;
  height: 65px;
  font-size: 16px;
}

.smallButton {
  width: 100px;
  height: 40px;
  font-size: 14px;
}

.dark {
  background-color: $main-black;
  color: $main-white;
}

.bright {
  border: 1px solid $main-black;
  background-color: $main-white;
  color: $main-black;
}
