@import "../../styles/variables";

// reset.scss
input {
  // 수정님 커밋에서 추가 필요
  outline: none;
}

.order {
  background-color: $main-white;
}

.orderBox {
  display: flex;
  position: relative;
  justify-content: space-between;

  .leftArrow {
    position: absolute;
    top: 20px;
    left: 70px;
    cursor: pointer;
  }

  &Left {
    width: 70%;
    padding: 50px 100px;
  }
}
