// variables.scss
$main-black: #252525;
$main-grey: #333333;
$main-white: #fffef2;
$main-ivory: #f5f5e6;
$point-red: #ff0000;

// reset.scss
input {
  border: none;
  outline: none;

  // 수정님 커밋에서 추가 필요
  background: none;
}

.order {
  background-color: $main-white;
}

.orderBox {
  display: flex;
  position: relative;
  justify-content: space-between;

  .leftArrow {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
  }

  &Left {
    width: 70%;
    padding: 50px 100px;

    &Title {
      margin-bottom: 30px;

      font-size: 37px;
      font-weight: 700;
    }

    .orderInfoForm,
    .addressForm {
      h3 {
        padding: 10px;
        padding-left: 0;
        font-size: 17px;
      }

      .inputNameWrap {
        display: flex;
        align-items: center;
        gap: 70px;
      }

      input {
        padding-bottom: 15px;
        border-bottom: 1px solid $main-grey;
      }
    }

    .addressForm {
      .addressInput {
        width: 630px;
        // display: inline-block;
        input {
          width: 100%;
        }
      }
      .addressDetailInput {
        // display: inline-block;
        width: 630px;
        input {
          width: 100%;
        }
      }
    }
  }
}
