@import "../../../../styles/variables";

div.listBottom {
  .bottomTop {
    display: flex;
    justify-content: space-between;
    padding: 60px 0 20px 35px;
    border-bottom: 2px solid black;

    span {
      padding-right: 50px;
      font-size: 21px;

      &:hover {
        opacity: 70%;
        color: $main-grey;
        cursor: pointer;
      }
    }

    .goodsCategory {
      display: flex;
      justify-content: space-between;
      width: 250px;
      padding-right: 20px;

      button:hover {
        opacity: 70%;
        color: $main-grey;
      }
    }
  }
}

.bottomBottom {
  display: flex;

  .bottomLeft {
    width: 20%;
    margin-top: 2%;
    margin-bottom: 20%;
    padding-top: 3%;
    border-right: 1px solid black;
  }

  .bottomRight {
    display: flex;
    flex-direction: column;
    // gap: 50px 50px;

    width: 80%;
    padding: 5% 10%;

    .pageButton {
      display: flex;
      justify-content: center;

      button {
        margin: 0 10px 0 10px;
        padding: 0 10px 0 10px;
        border: 1px solid black;
      }
    }
  }

  .artworkBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
}
