.artistBox {
  display: flex;
  position: relative;
  top: 140px;
  width: 100%;
  //max-width: 65rem;
  // height: 100vh;
  //overflow-x: hidden;
}

.carouselContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
}

.artistImg {
  display: block;

  width: 300px;
  height: 340px;
  margin-left: 80px;
  background-color: #252525;
}

.textBox {
  margin-top: 15px;
  margin-left: 80px;
  text-align: center;
}

// .textBoxName {
//   //border-bottom: 1px solid #252525;
// }

// // & .textBoxName:hover {
// //   text-decoration: underline;
// // }

.textBoxSize {
  margin-top: 8px;
  text-align: center;
  text-decoration: none;
}
