@import "../../styles/variables";
@import "../../styles/mixin";

.goodsContainer {
  display: flex;
  position: relative;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: $main-white;

  .goodsTitle {
    display: flex;
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 24px;
    font-weight: 400;
  }

  .goodsBox {
    display: flex;
    position: relative;
    justify-content: center;
    width: 1400px;
    height: 100vh;
    margin: 0 auto;
    margin-top: 200px;
    overflow: hidden;
  }
}

.line {
  display: flex;
  position: absolute;
  width: 240px;
  margin-top: 97px;

  margin-right: 960px;
  border: 0.3px solid $main-black;
}

.buttonPre2 {
  position: absolute;
  top: 14%;
  width: 63px;
  height: 63px;
  margin-left: -260px;
  background-image: url("../../assets/button-pre.png");
}

.buttonNext2 {
  position: absolute;
  top: 14%;
  width: 63px;
  height: 63px;
  margin-right: -260px;
  background-image: url("../../assets/button-next.png");
}

.secondSlide {
  display: flex;
  width: 500px;
  height: 100%;

  .slideBox {
    height: 300px;
    margin: 0 auto;
    padding: 0;

    .goodsImg {
      display: block;
      width: 400px;
      height: 400px;
    }

    .textBox {
      margin-top: 15px;
      margin-left: 110px;
      text-align: center;

      .textBoxSize {
        margin-top: 8px;
        text-align: center;
        text-decoration: none;
      }
    }
  }
}

.indicatorBar2 {
  display: flex;
  position: absolute;
  top: 650px;
  align-items: center;
  width: 1400px;
}

.indicator2 {
  width: 260px;
  height: 2px;
  transition: margin ease-in 0.3s;
  background-color: #e0e0e0;
}

.indicator2.active2 {
  left: 50%;
  width: 16.8%;
  transition: scaleX(5);
  background-color: $main-black;
}
