.main {
  border: 1px solid #000;

  .box1 {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #fffef2;

    .boxButton {
      position: absolute;
      top: 367px;
      left: 243px;
    }

    .goToArtist {
      width: 304px;
      height: 66px;
      background-color: #252525;
    }

    .boxText {
      position: absolute;
      top: 280px;
      left: 252px;
      color: #252525;
      font-size: 52px;
      font-weight: 400;
    }

    .buttonText {
      color: #fffef2;
      font-size: 14px;
    }
  }
}
