@import "../../styles/variables";
@import "../../styles/mixin";

.main {
  border: 1px solid #000;
  .wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: $main-white;
  }

  .mainContainer {
    position: relative;
    width: 100%;
    height: 800px;
  }

  .content {
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background-image: url("https://raw.githubusercontent.com/haechan02/rgb_demo_arts/d753962f9aa85bc1508500c92eba6b434ca489db/assets/arts/arts%209.jpeg");
    background-repeat: space;
    background-size: 100%;
  }

  .titleContent {
    .spanTitle {
      color: $main-black;
    }
  }

  .boxButton {
    position: absolute;
    top: 367px;
    left: 243px;
  }

  .boxText {
    position: absolute;
    top: 280px;
    left: 252px;
    color: $main-ivory;
    font-size: 52px;
    font-weight: 400;
  }
}
