@import "../../styles/variables";
@import "../../styles/mixin";

.box5 {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: $main-white;
}

.bocContainer5 {
  display: flex;
  position: relative;
  justify-content: flex-end;

  .boxImg5 {
    position: absolute;
    width: 714px;
    height: 400px;
    margin-top: 130px;
    background-color: #252525;
  }

  .boxFiveText {
    position: absolute;
    left: 60px;
    width: 480px;
    margin-top: 240px;
  }
  .text1 {
    margin-bottom: 40px;
    font-size: 16px;
  }
  .text2 {
    margin-bottom: 20px;
    font-size: 37px;
  }

  .text3 {
    margin-top: 10px;
    font-size: 16px;
  }
}
