@import "../../styles/variables";
@import "../../styles/mixin";

.buttonContainer {
  position: flex;
  top: 300px;
}

.buttonPre2 {
  position: absolute;
  left: 260px;
  width: 63px;
  height: 63px;
  background-image: url("../../assets/button-pre.png");
}

.buttonNext2 {
  position: absolute;
  right: 260px;
  width: 63px;
  height: 63px;
  background-image: url("../../assets/button-next.png");
}

.secondSlide {
  display: flex;
  width: 500px;
  height: 100%;

  .slideBox {
    height: 300px;
    margin: 0 auto;
    padding: 0;
    cursor: pointer;

    .goodsImg {
      display: block;
      width: 300px;
      height: 300px;
      margin-right: 410px;
      margin-left: -300px;
      transition: transform 0.3s ease-in-out;

      &:hover {
        transform: scale(1.02);
      }
    }
    .textBox {
      margin-top: 15px;
      margin-left: 110px;
      text-align: center;

      .textBox:hover {
        text-decoration: underline;
      }

      .textBoxSize {
        margin-top: 8px;
        text-align: center;
        text-decoration: none;
      }
    }
  }
}
