@import "../../../../styles/variables";

.delivery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  padding: 50px 100px;

  &Title {
    margin-bottom: 30px;
    font-size: 37px;
    font-weight: 700;
  }

  &Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    .formTitle {
      padding: 10px;
      padding-left: 0;
      font-size: 17px;
    }

    input[type="text"] {
      height: 60px;
      padding: 10px;
      border-bottom: 1px solid $main-grey;
      font-size: 17px;
    }
  }

  .inputNameWrap {
    display: flex;
    align-items: center;
    gap: 70px;

    .familyNameWrap {
      position: relative;
      width: 30%;

      .familyName {
        width: 100%;
      }

      .userFamilyName {
        position: absolute;
        top: 22px;
        left: 50px;
        font-size: 17px;
      }
    }

    .firstNameWrap {
      position: relative;
      width: 70%;

      .firstName {
        width: 100%;
      }

      .userFirstName {
        position: absolute;
        top: 22px;
        left: 50px;
        font-size: 17px;
      }

      .userPhoneNumber {
        position: absolute;
        right: 0px;
      }
    }
  }

  // 여기서부터 css 재작성
  .cellphoneWrap {
    display: flex;
    width: 630px;
    height: 60px;
    padding: 0;
    border-bottom: 1px solid $main-black;

    .phonePlaceholder {
      display: flex;
      align-items: center;
    }

    .phoneNumberInput {
      display: block;
      width: 40%;
      border: none;
    }

    .userPhoneNumber {
      display: flex;
      align-items: center;
    }
  }

  .addressInput {
    display: flex;
    width: 630px;
    width: 100%;
    border-bottom: 1px solid $main-black;

    .addressPlaceholder {
      display: flex;
      align-items: center;
    }

    .address {
      border: none;
    }

    .userAddress {
      display: flex;
      align-items: center;
    }
  }

  .postInput {
    display: flex;
    width: 630px;
    border-bottom: 1px solid $main-black;
    .postalPlaceholder {
      display: flex;
      align-items: center;
    }
    .postalcode {
      border: none;
    }

    .userPostalcode {
      display: flex;
      align-items: center;
    }
  }
}
