@import "../../../../styles/variables";

.delivery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  padding: 50px 100px;

  &Title {
    margin-bottom: 30px;
    font-size: 37px;
    font-weight: 700;
  }

  &Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    .formTitle {
      padding: 10px;
      padding-left: 0;
      font-size: 17px;
    }

    input[type="text"] {
      height: 60px;
      padding: 10px;
      border-bottom: 1px solid $main-grey;
      font-size: 17px;
    }
  }

  .inputNameWrap {
    display: flex;
    align-items: center;
    gap: 70px;

    .familyName {
      width: 30%;
    }

    .firstName {
      width: 70%;
    }
  }

  .phoneNumber {
    width: 630px;
  }
}

.deliveryInfoForm {
  input {
    width: 630px;
  }
}

.requestInputWrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .requestInput {
    border: 1px solid $main-grey;
  }
}
