@import "../../styles/variables";
@import "../../styles/mixin";

.wrap {
  display: flex;
  position: relative;
  height: 100vh;
}

.leftSide {
  display: flex;
  width: 58%;
  height: 100vh;
  background-image: url("https://raw.githubusercontent.com/haechan02/rgb_demo_arts/d753962f9aa85bc1508500c92eba6b434ca489db/assets/arts/arts%204.jpeg");
}

.rightSide {
  display: flex;
  position: relative;
  width: 42%;
  margin-top: 130px;
  margin-left: 197px;
  color: $main-black;
  font-size: 54px;
}

.artistName {
  margin-top: 10px;
  margin-left: -4px;
}

.underLine {
  display: flex;
  position: absolute;
  width: 442px;
  height: 1px;
  margin-top: 50px;
  border: 0.3px solid $main-black;
}
