@import "../../styles/variables";

.artistName {
  display: flex;
  margin: 0 auto;
  border-bottom: 1.5px solid $main-black;
}

.artistProfile {
  display: flex;
  position: relative;
  top: -20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  height: 0;
  margin-left: -110px;
  padding-top: 61.8%;

  .artistProfileColumn {
    margin-top: 55px;
    margin-left: -21px;
    font-size: 16px;
    letter-spacing: -0.3px;

    p {
      margin: 9px;
    }
  }

  .artistProfileColumnTwo {
    margin-top: 18px;
    margin-left: -4px;
    font-size: 16px;
    letter-spacing: -0.3px;

    p {
      margin: 9px;
    }
  }

  .artistProfileColumnTh {
    margin-top: 18px;
    margin-left: 16px;
    font-size: 16px;
    letter-spacing: -0.3px;

    p {
      margin: 9px;
    }
  }
}
