@import "../../../../styles/variables";

.orderList {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35%;
  // max-width: 520px;
  background-color: #f5f5e6;

  .orderRight {
    margin: 0 auto;
  }

  .orderItemWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .orderItem {
      display: flex;
      justify-content: space-between;
      width: 100%;

      gap: 210px;
    }
  }
}

.orderListBox {
  display: flex;
  flex-direction: column;
  gap: 30px;

  .checkoutProduct {
    display: flex;
    gap: 20px;
    padding: 15px 0px;
    border-top: 1px solid $main-grey;
    border-bottom: 1px solid $main-grey;

    img {
      width: 75px;
      height: 75px;
    }

    &Right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      width: 70%;

      .counter {
        display: flex;
        gap: 10px;
      }
    }
  }
}

.checkoutProductRight {
  .topRow {
    display: flex;
    justify-content: space-between;
  }

  .bottomRow {
    display: flex;
    justify-content: space-between;
    color: $main-grey;

    button {
      color: $main-grey;
    }
  }
}
