$main-black: #252525;
$main-grey: #333333;
$main-white: #fffef2;
$main-ivory: #f5f5e6;
$point-red: #ff0000;

// 1. MAIN COLOR : 252525 , 333333, FFFEF2 , F5F5E6
// 2. POINT COLOR : *$point-red* FF0000
// 3. BACKGROUND COLOR : *$main-white* FFFEF2
// 4. DROPDOWN COLOR : *$main-black* 252525
// 5. NAV/ FOOTER BACKGROUND COLOR :*$main-grey*  333333

// FOOTER FONT SIZE/ FONT WEIGHT : 12px
// LINE
// 2. 색상 main color
// 3. 굵기 3px , 4px
