$main-black: #252525;
$main-grey: #333333;
$main-white: #fffef2;
$main-ivory: #f5f5e6;
$point-red: #ff0000;

$title-font: 37px;
$subtitle-font: 21px;

// 2. POINT COLOR : *$point-red* FF0000
// 3. BACKGROUND COLOR : *$main-white* FFFEF2
// 4. DROPDOWN COLOR : *$main-black* 252525
// 5. NAV/ FOOTER BACKGROUND COLOR :*$main-grey*  333333
