@import "../../styles/variables";

.productDetail {
  display: flex;
  position: relative;
  height: 100%;
}

.productDetailBox {
  width: 100%;
  background-color: $main-ivory;

  .detailBox {
    display: flex;
    width: 100%;
    padding: 5% 0 7% 0;

    .leftImage {
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center;
      width: 60vw;
      .soldOut {
        display: flex;
        position: absolute;
        z-index: 2;
        align-items: center;
        justify-content: center;
        width: 475px;
        height: 500px;
        opacity: 70%;
        background-color: $main-grey;
        color: white;
        font-size: 37px;
      }
    }

    .detailInfo {
      width: 40%;
    }
  }
}
