@import "../../styles/variables";
@import "../../styles/mixin";

.loadingPage {
  @include flex(flex, row, _, center);
  width: 100%;
  height: 90vh;
  background-color: $main-grey;

  img {
    display: block;
    // width: 100%;
    height: 100%;
    background-repeat: no-repeat;
  }
}
