@import "../../styles/variables";
@import "../../styles/mixin";

.inputCheckBox {
  @include flex(flex, row, center, _);
  margin-bottom: 15px;

  input {
    margin-right: 10px;
  }

  label {
    margin-top: -2px;
  }

  .viewMore {
    @include icon(30px, 20px, 10px);
    background-image: url(../../assets/Expand-Arrow.png);
  }
}
