@import "../../styles/variables";

.total {
  display: flex;
  height: 657px;
  background-color: $main-black;
}

.totalLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  height: 657px;
  padding: 80px;
  padding-left: 120px;

  .buttons {
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 50px;
    padding: 5px;

    .leftButton {
      color: $main-white;
      font-size: 25px;
      font-weight: bold;
    }
    .rightButton {
      color: $main-white;
      font-size: 25px;
      font-weight: bold;
    }
  }

  .cs {
    width: 30%;
    height: 90px;
    margin-bottom: 30px;
    color: $main-white;
    font-size: 24px;
    font-weight: 500;

    .faq {
      margin-top: 1px;
    }
    .inquiry {
      margin-top: 30px;
    }
  }
}

.totalRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: 657px;
  margin-left: 140px;
  padding: 75px;
  color: $main-white;

  .companyInfo {
    width: 70%;
    height: 200px;

    line-height: 60px;
    .csCenter {
      font-size: 30px;
      letter-spacing: 2px;
    }
    .phone {
      color: $main-ivory;
      font-size: 70px;
      letter-spacing: 3px;
    }
    .hours {
      font-size: 20px;
      font-weight: 100;
      line-height: 40px;
      word-spacing: 5px;
    }
    .mail {
      font-size: 20px;
      font-weight: 100;
      letter-spacing: 2px;
      line-height: 30px;
    }
  }

  .termsOfUse {
    width: 105%;
    height: 200px;
    column-gap: 100px;
    font-size: 18px;
    .policy {
      margin-top: 10px;
      margin-bottom: 20px;
      font-weight: bold;
    }
    .address {
      margin-bottom: 20px;
      font-weight: 100;
      line-height: 20px;
      .underBar {
        text-decoration: underline;
      }
    }
    .alert {
      font-weight: 100;
      line-height: 20px;
    }
  }
}
