@import "../../styles/variables";

.footerfooterWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background-color: $main-grey;
}
.footerFooter {
  width: 1440px;
  height: 669px;
  border: 1px none;
}
.footerGroup {
  position: relative;
  width: 1440px;
  height: 669px;
}

.footerinGroup {
  position: absolute;
  top: 12px;
  left: 0;
  width: 1440px;
  height: 657px;
  overflow: hidden;
  background-color: $main-grey;
  box-shadow: 0px 4px 4px #00000040;
}
.footerinnerGroup {
  position: absolute;
  top: 0;
  left: 78px;
  width: 1295px;
  height: 547px;
}
.footerNotice1 {
  position: absolute;
  top: 130px;
  left: 0;
  width: 481px;
  color: $main-white;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}
.footerNotice2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 481px;
  color: $main-white;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}
.footerNotice3 {
  position: absolute;
  top: 38px;
  left: 0;
  width: 481px;
  color: $main-white;

  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}
.footerNotice4 {
  position: absolute;
  top: 234px;
  left: 0;
  width: 481px;
  color: $main-white;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}
.footerNotice5 {
  position: absolute;
  top: 267px;
  left: 0;
  width: 481px;
  color: $main-white;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}
.footerTermsofusegroup {
  display: flex;
  position: absolute;
  top: 430px;
  left: 641px;
  flex-direction: column;
  align-items: flex-start;
  width: 636px;
  height: 114px;
  gap: 12px;
}
.footerTermsofuse {
  position: relative;
  width: 636px;
  color: $main-white;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}
.termsofuseHead {
  color: $main-white;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
}
.termsofuseContext {
  position: relative;
  width: 636px;
  color: $main-white;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}
.termsofuseEmail {
  text-decoration: underline;
}
.footerLeft {
  position: absolute;
  top: 480px;
  left: 2px;
  color: $main-white;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}
.footerLeftbottom {
  position: absolute;
  top: 530px;
  left: 2px;
  color: $main-white;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}
.footerNews {
  position: absolute;
  top: 71px;
  left: 300px;
  width: 38px;
  height: 15px;
}

.footerNewstitle {
  position: absolute;
  top: 0;
  left: 0;
  color: $main-white;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}
.footerNotice {
  position: absolute;
  top: 74px;
  left: 0;
  color: $main-white;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}
.footerNewsletter {
  position: absolute;
  top: 94px;
  left: 0;
  width: 46px;
  height: 1px;
  object-fit: cover;
}
.footerRectangle {
  position: absolute;
  top: 705px;
  left: 7331px;
  width: 651px;
  height: 122px;
}
.customerService {
  position: absolute;
  top: 57px;
  left: 639px;
  width: 628px;
  height: 321px;
}
.customerserviceTitle {
  position: absolute;
  top: 0;
  left: 3px;
  color: $main-white;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}
.newsLetter {
  position: absolute;
  top: 177px;
  left: 4px;
  color: $main-white;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}
.newsletterSub {
  position: absolute;
  top: 231px;
  left: 4px;
  color: $main-white;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}
.customerserviceSub {
  position: absolute;
  top: 87px;
  left: 4px;
  color: $main-white;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}
.customerserviceEmail {
  position: absolute;
  top: 118px;
  left: 3px;
  color: $main-black;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.customerservicePhone {
  position: absolute;
  top: 23px;
  left: 0;
  color: $main-white;
  font-size: 45px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}
.newsletterSubgroup {
  position: absolute;
  top: 304px;
  left: 3px;
  width: 621px;
  height: 17px;
}
.newsletterSubtext1 {
  position: absolute;
  top: 0;
  left: 0;
  color: $main-white;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}
.newsletterSubtext2 {
  position: absolute;
  top: 0;
  left: 181px;
  color: $main-white;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}
.newsletterSubtext3 {
  position: absolute;
  top: 0;
  left: 375px;
  color: $main-white;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}
.newsletterSubtext4 {
  position: absolute;
  top: 0;
  left: 535px;
  color: $main-white;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}
.newsletterInit {
  position: absolute;
  top: 261px;
  left: 3px;
  width: 613px;
  height: 1px;
  object-fit: cover;
}

.newsletterButton {
  position: absolute;
  top: 216px;
  left: 543px;
  width: 75px;
  height: 32px;
}

.newsletterButtonwrapper {
  position: relative;
  width: 73px;
  height: 32px;
  border-radius: 5px;
  background-color: #ebeade;
}

.newsletterButtonit {
  position: absolute;
  top: 7px;
  left: 20px;
  color: #292929;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}
