div.detailLeft {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  gap: 30px;

  button {
    height: 50px;
    img {
      width: 50px;
      height: 50px;
    }
  }

  .imageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    height: 500px;
    overflow: hidden;

    .inner {
      transform: 0.3s;
      white-space: nowrap;
      .itemImage {
        width: 500px;
        height: 500px;
      }
    }
  }
}
