@import "../../../../styles/variables";

.orderHeader {
  background-color: $main-white;

  .orderNav {
    display: flex;
    align-items: center;
    padding: 15px 10px;
    border-bottom: 1px solid $main-grey;

    &Active {
      font-weight: 700;
      cursor: pointer;
    }

    &Inactive {
      color: $main-grey;
      cursor: pointer;
    }

    &Arrow {
      transform: rotate(270deg);
    }

    .invoiceNav:active {
      font-weight: 700;
      cursor: pointer;
    }
  }
}
