@import "../../styles/variables";

$main-black: #252525;
$main-grey: #333333;
$main-white: #fffef2;
$main-ivory: #f5f5e6;
$point-red: #ff0000;

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: $main-white;
}
.loginBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 400px;
  height: 500px;

  .loginTitle {
    margin-bottom: 50px;
  }
  .loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;

    & > input {
      width: 400px;
      height: 80px;
      border-bottom: 1px solid $main-grey;
      font-size: 21px;
    }
  }

  & > p {
    margin: 10px 0 30px;
    color: $point-red;
    font-size: 14px;
  }

  .loginText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    padding: 10px 0;

    & > p {
      font-size: 14px;
    }

    & > p:first-child {
      margin-left: 190px;
    }
  }
}

.loginTitle {
  font-size: 37px;
}
