@import "../../styles/variables";

$main-black: #252525;
$main-grey: #333333;
$main-white: #fffef2;
$main-ivory: #f5f5e6;
$point-red: #ff0000;

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $main-white;
}
.loginContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;

    & > input {
      width: 400px;
      height: 80px;
      border-bottom: 1px solid $main-grey;
    }
  }
}

.loginTitle {
  font-size: 37px;
}
