@import "../../styles/variables";
@import "../../styles/mixin";

.login {
  @include flex(flex, column, flex-start, space-between);
  @include inputSize;
  .loginTitle {
    @include modalTitle(60px, 37px);
  }

  .loginForm {
    @include flex(flex, column, center, center);

    & > input {
      @include modalInputStyle(400px, 60px, 17px);
    }
  }

  .inputWarning {
    margin: 15px 0;
    @include inputWarning;
  }

  .buttonBox {
    @include flex(flex, column, center, space-between);
    height: 250px;
    padding: 20px 0;
  }

  .loginTextBox {
    @include flex(flex, column, center, space-between);
    width: 100%;
    height: 100px;

    .loginText {
      margin-top: 5px;
      font-size: 14px;

      &:first-child:hover {
        padding-bottom: 5px;
        border-bottom: 1px solid $main-grey;
      }
    }
  }
}
