@import "../../../../styles/variables";

.location {
  height: 10%;
  padding: 30px 50px 30px 70px;

  p {
    padding-bottom: 24px;
    color: $main-grey;
    text-align: end;
  }

  button {
    img {
      width: 15px;
      height: 15px;
    }
  }
}
