@import "../../styles/variables";

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 16px;
  .items {
    display: flex;
    align-items: flex-end;
    li {
      margin-right: 26px;
      color: $main-white;
    }
  }
  background-color: $main-grey;
}
