.artWorks {
  margin-bottom: 100px;

  p {
    padding-top: 15px;
    font-size: 17px;
    text-align: end;
  }
  img {
    width: 320px;
    height: 300px;
  }

  .titleAndPrice {
    padding-bottom: 35px;
    border-bottom: 1px solid black;
  }
}
